@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: #252525;
  --background-color: #f5f5f5;
}

.dark {
  --foreground-color: #f5f5f5;
  --background-color: #252525;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

.custome_tag {
  background: red;
  width: fit-content !important;
}

.custome_tag button svg{
  display: flex !important;
  background: yellow;
}

.container-cus {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* 4px */
  padding-right: 1rem; /* 4px */
}

@media (min-width: 640px) {
  .container-cus {
    padding-left: 1.5rem; /* 6px */
    padding-right: 1.5rem; /* 6px */
  }
}

@media (min-width: 1024px) {
  .container-cus {
    padding-left: 2rem; /* 8px */
    padding-right: 2rem; /* 8px */
  }
}