@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: #252525;
  --background-color: #ffffff;
}

.dark {
  --foreground-color: #ffffff;
  --background-color: #252525;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

.custome_tag {
  background: red;
  width: fit-content !important;
}

.custome_tag button svg{
  display: flex !important;
  background: yellow;
}