@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
}

.dark {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(foreground-rgb));
}




.custome_tag {
  background: red;
  width: fit-content !important;
}

.custome_tag button svg{
  display: flex !important;
  background: yellow;
}